.pluginViewWrapper {
    position: relative; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    overflow: auto;
    background: #eee;
}
.pluginViewWrapper img {
    background: #fff;
    object-position: top;
}
.pluginView label {
    opacity: 0.8;
    background: white;
    padding: 5px;
    border-radius: 3px;
}
input.zoomView {
    display: none;
}
.pluginView i {
    font-size: 32px;
}

.bigPluginControls div {
    display: flex;
    flex-direction: row;
    margin: 0em 2px 1em 2px;
    align-items: center;    
    column-gap: 1em;
}
.bigPluginControls div > * {
    flex: 1;
}

#gridSize {
    text-align: right;
    flex: none; /* form-control's padding doesn't work nice with flexbox */
    width: 6em;
    display: inline-block;
}
