<div class=pluginView>
    <div class="pluginViewWrapper">
        <img class="preventCopying"></img>
    </div>
    <div style="position: absolute; top: 20px; right: 35px;">
        <label title=Zoom>
            <input type=checkbox class="zoomView">
            <i class="fa fa-search"></i> <!-- -plus/minus -->
        </label>
    </div>
</div>

<div class=smallPluginControls>
    <div class="pluginToolbarButton changeGridSize"><i class="fa fa-th"></i><span>Size</span></div>
    <div class="pull-right">
        <div class="pluginToolbarButton pluginCancel"><i class="fa fa-times"></i><span>Cancel</span></div>
        <div class="pluginToolbarButton pluginApply"><i class="fa fa-check"></i><span>Accept</span></div>
    </div>
</div>

<div class="bigPluginControls">
    <div>
        <label for="gridSize">
            Size
            (<span class=designUnit></span>)
        </label>
        <input id=gridSize type="number" class="form-control">
    </div>
    <div>
        <button class="btn btn-default pluginCancel" title="Don't apply this change">Cancel</button>
        <button class="btn btn-primary pluginApply" title="Apply this change">Apply</button>
    </div>
</div>